# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.env
.tool-versions
.nyc_output/
coverage/
npm-debug.log*
package-lock.json
yarn-error.log

